* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

.navbarContainer {
  display: flex;
  width: 100%;
  padding: 20px 160px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 40px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.homeNavbar .navbar {
  box-shadow: none;
  background: none;
}

.navbarLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarLogo a {
  text-decoration: none;
}

.homeNavbar .navbarLogo a .logoPath {
  fill: #f1f1f1;
}

.navbarLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}

.navbarLinksContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbarLinksContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  cursor: pointer;
}

.navbarLinksContainer a p {
  color: var(--Grey-Primary, #777);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.homeNavbar .navbarLinksContainer a p {
  color: var(--Grey-grey-50, #f1f1f1);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbarLinksContainer a svg {
  transition: all 0.3s;
}

.navbarLinksContainer a:hover p {
  color: var(--Text-Black-Primary, #101010);
}

.navbarLinksContainer a:hover svg {
  transform: rotate(-180deg);
}

.navbarLinksContainer a:hover svg path {
  fill: #101010;
}

.navbarDropdownContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarDropdownHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  cursor: pointer;
  height: 60px;
}

.navbarDropdownHeading p {
  color: var(--Grey-Primary, #777);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.homeNavbar .navbarDropdownHeading p {
  color: var(--Grey-grey-50, #f1f1f1);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbarDropdownHeading svg {
  transition: all 0.3s;
  width: 12px;
  height: 12px;
}

.navbarDropdownContainer:hover .navbarDropdownHeading p {
  color: var(--Text-Black-Primary, #101010);
}

.navbarDropdownContainer:hover .navbarDropdownHeading svg {
  transform: rotate(-180deg);
}

.navbarDropdownContainer:hover .navbarDropdownHeading svg path {
  fill: #101010;
}

.homeNavbar .navbarDropdownHeading svg path {
  fill: #f1f1f1;
}

.navbarDropdown {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 40px;
  background: #fff;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.navbarDropdownContainer:hover .navbarDropdown {
  display: grid;
}

.navbarDropdownContainer a {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  text-decoration: none;
}

.navbarDropdownContainer a :hover .heading svg {
  width: 20px;
  transform: rotate(0deg);
}

.navbarDropdownText {
  display: flex;
  width: 253px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.navbarDropdownText span {
  color: var(--Text-Black-text-black-300, #5f5f5f);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbarDropdownText .heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbarDropdownText .heading span {
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navbarDropdownText .heading svg {
  width: 0;
  transform: rotate(0deg);
}

.navbarContact {
  text-decoration: none;
  display: inline-flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  background: var(--Text-Black-Primary, #101010);
  cursor: pointer;
  border: 1px solid var(--Text-Black-Primary, #101010);
}

.navbarContact p {
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbarContact svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.navbarContact:hover {
  border: 1px solid var(--Text-Black-Primary, #101010);
  background: #fff;
}

.homeNavbar .navbarContact:hover {
  background: none;
}

.navbarContact:hover p {
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbarContact:hover svg path {
  fill: #101010;
}

/* Home */

.homeBanner {
  display: flex;
  width: 100%;
  height: 100svh;
  padding: 0px 111px 26px 110px;
  justify-content: center;
  align-items: center;
}

.homeBannerContainer {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 0px 0px 60px 60px;
  background: var(--Orange-Primary, #f39200);
}

.infoContainer {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.infoContainerHeading {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.infoContainerHeading .subHeading {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoContainerHeading .subHeading .headingLine {
  width: 109px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #f39200 51.2%,
    rgba(255, 255, 255, 0) 100%
  );
}

.infoContainerHeading .subHeading p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #f39200 0%, #f26600 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.infoContainerHeading .heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}

.infoContainerHeading .heading h2 {
  color: var(--Text-Black-Primary, #101010);
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.infoContainerHeading .heading h2 span {
  color: var(--Orange-Primary, #f39200);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.infoContainerHeading .heading p {
  color: var(--Grey-Primary, #777);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Product Pages */
.productBanner {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-top: 120px;
}

.productBanner img {
  height: 100%;
  min-height: 200px;
  width: auto;
  object-fit: cover;
}

.productBanner .heading {
  display: flex;
  width: 891px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.productBanner .heading h1 {
  color: var(--Text-Black-Primary, #101010);
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.92px;
}

.productBanner .heading p {
  color: var(--Text-Black-text-black-300, #5f5f5f);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* About us */

.aboutBannerBelow {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.aboutBannerBelow img {
  width: 100%;
  object-fit: cover;
}

.aboutBannerBelowText {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.aboutBannerBelowText h2 {
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.44px;
}

.aboutBannerBelowText h2 .bold {
  font-weight: 600;
}

.aboutBannerBelowText p {
  width: 574px;
  flex-shrink: 0;
  color: var(--Text-Black-text-black-300, #5f5f5f);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.About .infoContainerDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.aboutInfoSet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  border: 1px solid var(--Text-Black-text-black-50, #e7e7e7);
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(17, 17, 17, 0.08);
  flex-grow: 1;
}

.aboutInfoSet:nth-child(-n + 3) {
  flex-basis: calc((100% - 80px) / 3);
}

.aboutInfoSet:nth-child(n + 4) {
  flex-basis: calc((100% - 40px) / 2);
}

.aboutInfoSet img {
  height: 241px;
  width: 100%;
  object-fit: cover;
}

.aboutInfoSet .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.aboutInfoSet .text h3 {
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.aboutInfoSet .text p {
  color: var(--Text-Black-text-black-300, #5f5f5f);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.journey {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    #fbddb0;
}

.journey .heading {
  display: flex;
  width: 379px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.journey .heading h2 {
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
}

.journey .heading p {
  color: var(--Text-Black-text-black-300, #5f5f5f);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.journeySetContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.journeySet {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.journeySet span {
  color: var(--Orange-Primary, #f39200);
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}

.journeySet p {
  color: var(--Text-Black-Primary, #101010);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ourWork {
  width: 100%;
  display: flex;
  align-items: stretch; /* Ensures columns stretch to the full height */
  justify-content: space-between;
  gap: 16px;
  height: 701px;
}

.ourWork img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ourWorkColumn1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 701px;
}

.ourWorkColumn1 > :nth-child(1) {
  height: 337px;
}

.ourWorkColumn1 > :nth-child(2) {
  height: 166px;
}

.ourWorkColumn1 > :nth-child(3) {
  height: 166px;
}

.ourWorkColumn2 {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 701px;
}

.ourWorkColumn2 > :nth-child(1) {
  height: 519px;
}

.ourWorkColumn2Sub {
  height: 166px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  overflow: hidden;
}

.ourWorkColumn2Sub img {
  width: 50%;
}

.ourWorkColumn3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 701px;
}

.ourWorkColumn3 > :nth-child(1) {
  height: 318px;
}

.ourWorkColumn3 > :nth-child(2) {
  height: 367px;
}

/* Marquee */

.marqueeContainer {
  width: 100%;
  height: 123px !important;
  padding: 80px 0;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  animation: marquee 20s linear infinite;
  height: 36px;
  padding: 4px 0;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee p {
  display: inline-block;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 8px;
}

.marqueeContainer {
  position: relative;
}

.wrapper1 {
  transform: rotate(2.902deg);
  background: var(--Linear-Orange-Primary, #f26600);
  position: absolute;
  top: 30px;
}

.wrapper2 {
  transform: rotate(-2.368deg);
  background: var(--Text-Black-Primary, #101010);
  position: absolute;
  top: 50px;
}

.wrapper3 {
  background: var(--Orange-Primary, #f39200);
  z-index: 1;
  position: absolute;
}

.wrapper3 .marquee {
  animation: reverseMarquee 30s linear infinite;
}

@keyframes reverseMarquee {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* Testimonials */

.testimony {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 644px;
  overflow: hidden;
  position: relative;
}

.testimonyWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 644px;
  overflow: hidden;
}

.testimonyMarquee {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: vmarquee 10s linear infinite;
}

@keyframes vmarquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes vrmarquee {
  0% {
    transform: translate3d(0, -50%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

.testimonyWrapper1 {
  padding-left: 16px;
  padding-right: 12px;
}

.testimonyWrapper2 {
  padding: 0px 12px;
}

.testimonyWrapper3 {
  padding-left: 12px;
  padding-right: 16px;
}

.testimonyWrapper2 .testimonyMarquee {
  animation: vrmarquee 10s linear infinite;
}

.testimonySet {
  display: inline-flex;
  padding: 32px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
}

.testimonySet p {
  color: var(--Text-Black-text-black-300, #5f5f5f);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.testimonyInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.testimonyInfo img {
  width: 51px;
  height: 51px;
  border-radius: 51px;
}

.testimonyInfo .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.testimonyInfo .heading h4 {
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.testimonyInfo .heading span {
  color: var(--Text-Black-text-black-300, #5f5f5f);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.testimonyBlurUp {
  width: 150%;
  height: 266px;
  border-radius: 50%;
  background: #fff;
  filter: blur(45px);
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.testimonyBlurDown{
    width: 150%;
  height: 266px;
  border-radius: 50%;
  background: #fff;
  filter: blur(45px);
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* Enquire Div */

.enquireDiv {
  width: 100%;
  height: 858px;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.EnquireDivBackground {
  position: absolute;
  height: 698px;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enquireDivtext {
  display: flex;
  width: 100%;
  padding: 43px 224px 94px 225px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.enquireDivtext .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.enquireDivtext .text h3 {
  color: var(--Grey-grey-300, #a4a4a4);
  text-align: center;
  text-shadow: 0px 4px 16px rgba(255, 255, 255, 0.25);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.enquireDivtext .text h3 span {
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}

.enquireDivtext .text p {
  color: rgba(17, 17, 17, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.enquireDivtext a {
  display: flex;
  width: 223px;
  height: 48px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #f39200;
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

/* Contact */

.contactForm {
  width: 100%;
  display: flex;
  padding: 121px 160px 80px 160px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}

.contactFormHeading {
  display: flex;
  width: 776px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.contactFormHeading h1 {
  color: #111;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.92px;
}

.contactFormHeading p {
  color: rgba(17, 17, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contactFormContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.contactFormImgContainer {
  width: 50%;
  height: 587px;
  position: relative;
  overflow: hidden;
}

.contactFormImgBackground {
  width: 100%;
  height: 587px;
  object-fit: cover;
}

.contactFormImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactFormImgText {
  width: 100%;
  height: 190px;
  flex-shrink: 0;
  background: linear-gradient(
    270deg,
    rgba(247, 182, 84, 0.35) 0.13%,
    rgba(247, 186, 93, 0.35) 15.38%,
    rgba(248, 194, 111, 0.35) 28.91%,
    rgba(248, 195, 114, 0.35) 67.71%,
    rgba(248, 191, 106, 0.35) 75.76%,
    rgba(247, 180, 81, 0.35) 99.89%
  );
  backdrop-filter: blur(20px);
  position: absolute;
  bottom: 0;
  padding: 50px 22px 30px 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  z-index: 1;
}

.contactFormImgText h2 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contactFormImgText p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contactFormDiv {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.contactFormInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.contactFormInput label {
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contactFormInput label span {
  color: var(--Orange-Primary, #f39200);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contactFormInput input {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  align-items: center;
  align-self: stretch;
  border: 1px solid var(--Grey-grey-100, #d5d5d5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contactFormInput textarea {
  resize: none;
  width: 100%;
  height: 128px;
  display: flex;
  padding: 14px 16px;
  align-items: flex-start;
  border: 1px solid var(--Grey-grey-100, #d5d5d5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contactFormDiv button {
  width: 100%;
  display: flex;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  background: var(--Text-Black-Primary, #101010);
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid var(--Text-Black-Primary, #101010);
  cursor: pointer;
}

.contactFormDiv button:hover {
  background: #fff;
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contactFormBelow {
  display: flex;
  width: 100%;
  padding: 80px 160px;
  justify-content: space-between;
  align-items: center;
}

.getInTouch {
  width: 40%;
  color: var(--Text-Black-Primary, #101010);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.getInTouch span {
  color: var(--Orange-Primary, #f39200);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.44px;
}

.contactLinkContainer {
  width: 60%;
  height: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 53px;
  position: relative;
}

.contactLinkContainerBackground {
  width: 100%;
  height: 255px;
  position: absolute;
  object-fit: contain;
}

.contactLinkSet {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  z-index: 1;
  height: 125px;
  cursor: pointer;
}

.contactLinkSet .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.contactLinkSet .heading p {
  color: var(--Text-Black-Primary, #101010);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.contactLinkSet .heading span {
  color: var(--Text-Black-text-black-300, #5f5f5f);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

/* Enquiry */

.Enquiry .infoContainer {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    #fbddb0;
}

.Enquiry .infoContainer img {
  width: 100%;
  object-fit: cover;
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  background: #111;
}

.footerLinkLogo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 120px;
  align-self: stretch;
}

.footerLogo {
  display: flex;
  width: 175px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footerSocialLink {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.footerSocialLink a {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.facebook:hover {
  background: #0866ff;
}

.twitter:hover {
  background: #000;
}
.linkedIn:hover {
  background: #0077b5;
}

.footerLink {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footerLinkSet {
  display: flex;
  width: 174px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.footerLinkSet h4 {
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footerLinkColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.footerLinkColumn a {
  color: var(--Grey-grey-200, #c0c0c0);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.footerLinkColumn a:hover {
  color: #fff;
}

.footerCopyrigth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #6c6c6c;
  padding-top: 16px;
}

.footerCopyrigth p {
  color: var(--Grey-grey-100, #d5d5d5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerCopyrigth p a {
  text-decoration: none;
  background: radial-gradient(55% 28.76% at 71.24% 50%, #fff 0%, #ffbf00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
